# Header
logo_text: #Zekeair's Track
menu:
  Archives: archives
  Categories: categories
  Tags: tags

# Left Panel
name: #your name
nickname: #your nickname
email: #your email
description: #a paragraph to descript yourself
github: #your github page
twitter: #your twitter page
panel_menu: 
  About: about
  Books: books

# Content
excerpt_link: Read More
toc: false #  Whether to show the table of contents in articles
fancybox: true

# Miscellaneous
google_analytics:
favicon: /favicon.png
