# Header
logo_text: # Logo text
menu:
  archives: archives
  categories: categories
  tags: tags
  about: about

# Left Panel
name: # Your name
email: # Your email
description: # Some description
github: # Relative github site path
twitter: # Relative twitter site path
panel_menu:
  about: about
  books: tags/books-sheet

# Content
excerpt_link: Read More
toc: false #  Whether to show the table of contents in articles
fancybox: true

# Miscellaneous
google_analytics: UA-71748521-1
comment_provider: disqus
favicon: /favicon.png
