.resume-download
  text-align right
  padding 20px 0

.resume
  .title
    text-align center
  h2
    border-bottom 1px solid #DCDBDB
    padding-bottom 5px
  img.QR
    margin 0
    float right
    @media mq-mobile
      display none
